html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul {
  list-style: disc;
  margin-top: 15px;
}

li {
  margin-left: 13px;
  margin-bottom: 4px;
}

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

input,
textarea,
button {
  border: 0px;
}

body {
  background: #0f50b4;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h5,
p,
header,
a,
a:visited,
.btn {
  color: white;
}

h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

h3 {
  font-size: 18px;
}

p {
  margin: 20px 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.hero {
  width: auto;
  height: 100vh;
  background-image: linear-gradient(
      rgba(15, 80, 180, 0.5),
      rgba(15, 80, 180, 1)
    ),
    url('https://www.bombardier.com/content/dam/Websites/bombardiercom/Multimedia-Library/BA/Business-Aircraft/Global/Global-5500/Global%205500_DDBA0373_Factsheets2018_Global5500_V9_Layers.jpg/_jcr_content/renditions/original');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  display: none;
  margin-top: 14px;
}

/*** HEADER ***/

header {
  padding-top: 10px;
  margin-bottom: 1px;
  height: 60px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  text-decoration: none;
  padding: 6px 0px;
  transition: all 0.3s linear;
  font-weight: 600;
  display: none;
  margin-top: 13px;
  margin-left: 35px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

header nav a:hover {
  padding: 6px 0px;
  border-bottom: 2px solid white;
}

.logo-item {
  margin: 5px 20px 0 0;
  font-size: 30px;
  transform: rotate(-45deg);
  color: white;
}

.brand-item {
  margin: 5px 15px 0 0;
}

.hero-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-heading h1 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: 'EB Garamond', serif;
}

.hero-heading h5 {
  font-size: 7px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'EB Garamond', serif;
  display: none;
}

/*** WELCOME CONTAINER ***/

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0 30px 0;
}

.welcome-image {
  margin-bottom: 10px;
}

.welcome-image img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  border: 1px solid white;
  filter: grayscale(100%);
  transition: filter 300ms ease-in;
  opacity: 0.7;
}

.welcome-image img:hover {
  filter: grayscale(0%);
  transition: filter 300ms ease-in;
}

.welcome-text {
  line-height: 23px;
}

.welcome-text p:nth-of-type(1) {
  margin-top: 0;
}

/*** NEWSLETTER SIGNUP AND FAQ ***/

.misc-container {
  display: flex;
  flex-direction: column;
  margin: 0px 0 30px 0;
}

.misc-newsletter {
  margin-bottom: 45px;
}

.misc-faq {
  margin-bottom: 30px;
}

.form-container {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
}

label {
  display: inline-block;
  color: white;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'] {
  display: block;
  color: black;
  font-weight: 700;
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border-color: rgba(255, 255, 255, 0.6);
  border-style: solid;
  border-width: 0 0 2px 0;
  background: rgba(255, 255, 255, 0.2);
  transition: background 0.3s ease-in;
}

input[type='text']::placeholder,
input[type='email']::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

input[type='text']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder {
  /* Edge */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

input[type='text']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

input[type='text']:not(:placeholder-shown),
input[type='email']:not(:placeholder-shown) {
  margin-bottom: 25px;
  border-color: red;
  border-style: solid;
  border-width: 0 0 2px 0;
}

input[type='text']:valid,
input[type='email']:valid {
  margin-bottom: 25px;
  border-color: green;
  border-style: solid;
  border-width: 0 0 2px 0;
}

input input:last-of-type {
  margin-bottom: 30px;
}

input[type='checkbox'] {
  width: 15px;
  height: 15px;
  margin: 2px 10px 5px 0;
  align-self: flex-start;
}

input[type='submit'] {
  margin-top: 30px;
  width: 40%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 15px;
  color: rgba(255, 255, 255, 1);
  transition: all 0.2s ease-in;
  font-weight: 700;
}

input[type='submit']:hover {
  margin-top: 30px;
  width: 40%;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid white;
  color: #0f50b4;
  font-weight: 700;
}

input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.form-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  margin-top: 10px;
}

.periodicity {
  margin-bottom: 25px;
}

/*** ACCORDION ***/

div.button {
  display: flex;
  height: 40px;
  background: white;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px;
  border-bottom: 1px solid #f2f2f2;
  transition: opacity 0.2s ease-in;
  box-shadow: 0 2px 2px 0 rgba(14, 30, 37, 0.12);
}

div.button:hover {
  background: rgba(255, 255, 255, 0.96);
}

.question {
  font-weight: 900;
  color: #0f50b4;
}

.open .question {
  color: red;
}

div.accordion-box {
  max-height: 0;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
  color: rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.3);
}

i {
  font-weight: 900;
  color: #0f50b4;
  transition: all 0.2s ease-in;
  margin-left: 15px;
}

.open i {
  color: red;
  transform: rotateZ(180deg);
  transition: transform 0.2s ease-in;
}

.open {
  opacity: 0.7;
}

.open + div.accordion-box {
  overflow: hidden;
  padding: 15px;
  height: auto;
  max-height: 600px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 14px;
  border-bottom: 1px solid red;
  transition: max-height 0.25s ease-in;
}

/*** FOOTER ***/

footer {
  border: 1px solid rgba(255, 255, 255, 0); /* Invisible border to prevent margin-bottom from collappsing on iPhone/iPad. */
  display: block;
  margin: 30px 0 0px 0;
}

footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

footer p {
  font-size: 11px;
  letter-spacing: 2px;
  text-align: center;
}

footer nav a {
  text-decoration: none;
  padding: 6px 0px;
  transition: 0.3s;
  font-weight: 600;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  margin: 5px 0;
}

footer nav a:hover {
  padding: 6px 0px;
  border-bottom: 2px solid white;
}

.social-media-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.social-media-icon {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 0;
}

.social-media-icon:hover {
  color: white;
}

/***************** MEDIA QUERIES *****************/

/***** TABLET SIZE *****/

/* The media query is to limit the header style to tablet size only. */
@media (min-width: 668px) and (max-width: 1024px) {
  /*** HEADER ***/

  header nav {
    justify-content: center;
    padding-top: 5px;
  }

  header nav :nth-child(1) {
    order: 4;
  }
  header nav :nth-child(2) {
    order: 1;
  }
  header nav :nth-child(3) {
    order: 1;
  }
  header nav :nth-child(4) {
    order: 1;
  }
  header nav :nth-child(5) {
    order: 5;
  }
  header nav :nth-child(6) {
    order: 6;
  }

  header nav a {
    display: inline-block;
  }

  .brand-item {
    display: none;
  }

  .logo-item {
    margin: 12px 0px 0 35px;
  }
}

@media (min-width: 668px) {
  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 13px;
  }

  .container {
    width: 95%;
  }

  /*** HEADER ***/

  header {
    height: 80px;
  }

  .hero-heading {
    margin-top: 30px;
    margin-bottom: 12px;
    flex-direction: column;
    align-items: center;
  }

  .hero-heading h1 {
    font-size: 52px;
  }

  .hero-heading h5 {
    font-size: 10px;
    display: block;
    margin-top: 15px;
  }

  /*** WELCOME CONTAINER ***/

  .welcome-container {
    margin: 70px 0 25px 0;
  }

  .welcome-text {
    display: inline-block;
    flex-basis: 58%;
    padding: 35px 20px 0 0;
    order: 2;
  }

  .welcome-image {
    flex-basis: 42%;
    margin-bottom: 30px;
    text-align: center;
    order: 1;
  }

  .welcome-image img {
    width: 50%;
  }

  /*** FOOTER ***/

  .social-media-container {
    justify-content: flex-end;
  }

  .social-media-icon {
    margin-left: 40px;
  }

  footer nav {
    flex-direction: row;
    align-items: flex-start;
  }

  footer nav a {
    margin-right: 35px;
  }

  footer p {
    text-align: left;
  }
}

/********** DESKTOP SIZE **********/

@media (min-width: 1025px) {
  .btn {
    display: inline-block;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 200ms ease-in;
    font-weight: 600;
    cursor: pointer;
  }

  .btn:nth-of-type(1) {
    margin-left: 35px;
  }

  .btn:hover {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 1);
    color: #0f50b4;
  }

  .btn:hover:nth-of-type(1) {
    margin-left: 35px;
  }

  .btn:active {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  /*** HEADER ***/

  header nav {
    justify-content: flex-end;
  }

  header nav a {
    display: inline-block;
  }

  .brand-item {
    display: inline-block;
    margin-right: auto;
  }

  a:last-child {
    margin-right: 0;
  }

  .hero-heading {
    margin-top: 80px;
    margin-bottom: 90px;
  }

  .hero-heading h1 {
    font-size: 60px;
  }

  .hero-heading h5 {
    font-size: 14px;
  }

  /*** WELCOME CONTAINER ***/

  .welcome-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 55px 0;
  }

  .welcome-image {
    padding-left: 20px;
    margin-bottom: 0px;
    order: 2;
  }

  .welcome-text {
    padding: 0px 20px 0 0;
    order: 1;
  }

  .welcome-image img {
    width: 100%;
  }
}
